*.aux
*.auxlock
*.bak.tex
*.bbl
*.bcf
*.blg
*.dpth
*.fdb_latexmk
*.fls
*.log
*.out
*.md5
*.pygtex
*.nav
*.run.xml
*.snm
*.synctex*
*.synctex.gz
*.swp
*.toc
*.vrb
*-eps-converted-to.pdf
*/_minted-*
*/tikz/*
